/* Body general */

body{
  background-color: black;
  text-decoration: rgb(228, 183, 183);
  color:antiquewhite;
  margin: 0;
  font-family: 'Kanit', sans-serif;

}
/* Header */
.logo{
  display:flex;
  justify-content: center;
  height: 100px;
}

.menu {
overflow: hidden;
background-color: rgb(26, 24, 24);
display: flex;
justify-content: space-around;
border-radius: 15px;
}

.menu a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 18px;
}

.menu a:hover {
background-color: rgb(26, 24, 24);
color: rgb(143, 143, 143);
}

.menu i{
position: relative;
left: -170px;
top: 24px;
}

.menu input[type=text] {
float: right;
padding: 6px;
border: none;
margin-top: 8px;
margin-right: 16px;
font-size: 18px;
background-color: rgb(26, 24, 24);
color: #f2f2f2
}
.busqueda {
  display: flex;
  justify-self: flex-end;
  justify-items: flex-end;

}

/* Footer */

footer{
background-color: rgb(26, 24, 24);
}

.abajo {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-around;
}

.developers{
background-color: rgb(26, 24, 24);
display: flex;
justify-content: space-evenly;
}
/* General */

.pelis{
text-emphasis: none;
display: flex;
justify-content: space-around;
list-style: none;
flex-wrap: nowrap;
background-color: rgb(26, 24, 24);
border-radius: 15px;
}

.pelis img{
width: 250px;
height: 150px;
border-radius: 15px;
}
.pelis img:hover {
width: 270px;
height: 170px;
}
.pelis h3 {
font-size: 15px;
}

hr {
color: #eee;
}


.tpgn{
display: flex;
flex-wrap: nowrap;
justify-content: flex-start;
padding: 100px;
}
.conteiner_movie {
display: flex;
flex-wrap: wrap;
height: 650px;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 15px;
background-image: url(./img/Home/topgun2.png);
background-repeat: no-repeat;
background-size: 100%;
}
.conteiner_serie {
display: flex;
flex-wrap: wrap;
height: 650px;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 15px;
background-image: url(./img/Home/breaking_badfondo.webp);
background-repeat: no-repeat;
background-size: 100%;
}
.breaking_bad img{
height: 500px;
border-radius: 15px;
margin: 100px;
}
.tpgn img{
height: 500px;
border-radius: 15px;

}
.details {
width: 300px;
background-color: rgba(26, 24, 24, 0.663);
border-radius: 15px;
padding: 20px;
}
#letras {
font-family: Arial, Helvetica, sans-serif;
font-size: large;
}

.art h3{
font-family: 'Kanit', sans-serif;
font-weight: 350;
}

.bajofotos{
display: flex;
justify-content: space-between;
}

.bajofotos i{
position: relative;
top: 18px;
left: -13px;
}

.separado{
margin-left: 10px;
}

/* Favoritos */
.fotosfavo{
margin-top: 5px;
}

/* Resultados de Busqueda */

.busquepadre{
display: flex;
flex-direction: row;
list-style: none;
justify-content: center;
position: center;
align-items: center;
}

.columna{
display: flex;
flex-direction: column;
list-style: none;
flex-wrap: nowrap;
margin: 50px;

}

.columna img{
width: 250px;
height: 150px;
border-radius: 15px;
}

.lista_columna{
list-style: none;
}

/* Generos */
 
.generos {
  background-image: url(./img/Generos/generos-peliculas.jpg);
  background-position: center;
  background-size: 100%;
  border-radius: 15px;
  height: 650px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
 
.gen {
  background-color: rgb(26, 24, 24);
  border-radius: 15px;
  height: 80px;
  width: 140px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #eee;
  text-decoration: none;
  text-transform: capitalize;
}

/* Detalle generos */

.acción{
  text-emphasis: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  background-color: rgb(26, 24, 24);
  border-radius: 15px;
}
.acción img{
  width: 250px;
  height: 150px;
  border-radius: 15px;
}
.acción img:hover {
  width: 270px;
  height: 170px;
}
.acción h3 {
  font-size: 15px;
}


/* Responsiveness */


@media(max-width:1300px){
.last{
  display: none;
}

}
@media(max-width:1000px){
.menu i{
  position: relative;
  top: 24px;
  }
  .art{
    flex-direction: column;
  }
}
@media(max-width:320px){
.busquepadre{
  flex-direction: column;
  margin: none;
  justify-content: flex-start;
}
.columna{
  display: flex;
  justify-content: flex-start;
}
}
