/* Body general */

body{
  background-color: black;
  text-decoration: rgb(228, 183, 183);
  color:antiquewhite;
  margin: 10px;
  font-family: 'Kanit', sans-serif;
}
h1{
  margin: 10px;
}

/* Header */
.logo{
  display:flex;
  justify-content: space-evenly;
  height: 100px;
}

.menu {
overflow: hidden;
background-color: rgb(27, 24, 24);
display: flex;
justify-content: space-around;
border-radius: 15px;
}

.menu a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 18px;
}

.menu a:hover {
background-color: rgb(26, 24, 24);
color: rgb(143, 143, 143);
}

.menu i{
position: relative;
left: -10px;
top: 28px
}

.menu input[type=text] {
float: right;
padding: 6px;
border: none;
margin-top: 8px;
margin-right: 16px;
font-size: 18px;
background-color: rgb(26, 24, 24);
color: #f2f2f2
}
.busqueda {
  display: flex;
  justify-self: flex-end;
  justify-items: flex-end;
  position: relative;
}

h2 {
  margin-left: 10px;
}

/* Footer */

footer{
background-color: rgb(26, 24, 24);
}

.abajo {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-around;
}

.developers{
background-color: rgb(26, 24, 24);
display: flex;
justify-content: space-evenly;
margin-left: 10px;
}

.logo2{
  display: flex;
  position: relative;
  top: 25px;
  height: 50px;
  width: 100px;
  
}
/* General */



.pelis{
text-emphasis: none;
display: flex;
justify-content: space-around;
list-style: none;
flex-wrap: nowrap;
background-color: rgb(26, 24, 24);
border-radius: 15px;
padding: 0px;
}

.pelis img{
width: 250px;
height: 150px;
border-radius: 15px;
}
.pelis img:hover {
width: 270px;
height: 170px;
}
.pelis h3 {
font-size: 15px;
}

.series{
  text-emphasis: none;
  display: flex;
  justify-content: space-around;
  list-style: none;
  flex-wrap: nowrap;
  background-color: rgb(26, 24, 24);
  border-radius: 15px;
  padding: 0px;
}

.series img{
  width: 250px;
  height: 150px;
  border-radius: 15px;
}

.series img:hover{
  width: 270px;
  height: 170px;
}

.series h3{
  font-size: 15px;
}

hr {
color: #eee;
}


.tpgn{
display: flex;
flex-wrap: nowrap;
justify-content: flex-start;
padding: 100px;
}
.conteiner_movie {
display: flex;
flex-wrap: wrap;
height: 650px;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 15px;
background-image: url(./img/Home/topgun2.png);
background-repeat: no-repeat;
background-size: 100%;
}
.conteiner_serie {
display: flex;
flex-wrap: wrap;
height: 650px;
flex-direction: row;
justify-content: center;
align-items: center;
border-radius: 15px;
background-image: url(./img/Home/breaking_badfondo.webp);
background-repeat: no-repeat;
background-size: 100%;
}
.breaking_bad img{
height: 500px;
border-radius: 15px;
margin: 100px;
}
.tpgn img{
height: 500px;
border-radius: 15px;

}
.details {
width: 300px;
background-color: rgba(26, 24, 24, 0.663);
border-radius: 15px;
padding: 20px;
}
#letras {
font-family: Arial, Helvetica, sans-serif;
font-size: large;
}

.art h3{
font-family: 'Kanit', sans-serif;
font-weight: 350;
}

.bajofotos{
display: flex;
justify-content: space-between;
}

.bajofotos i{
position: relative;
top: 18px;
left: -13px;
}

.separado{
margin-left: 10px;
}

/* Favoritos */
.fotosfavo{
margin-top: 5px;
}

/* Resultados de Busqueda */
.busquedabox{
  display: flex;
  justify-content: space-around;
}

.resumenbusqueda{
  border-color: #eee;
  border-radius: 18px;
  border: #eee;
}

.busquepadre{
display: flex;
flex-direction: row;
list-style: none;
justify-content: center;
position: center;
align-items: center;
}

.columna{
display: flex;
flex-direction: column;
list-style: none;
flex-wrap: nowrap;
margin: 50px;

}

.columna img{
width: 250px;
height: 150px;
border-radius: 15px;
}

.lista_columna{
list-style: none;
}

/* Generos */
 
.generos {
  background-image: url(./img/Generos/generos-peliculas.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 15px;
  height: 650px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
 
.gen {
  background-color: rgba(26, 24, 24, 0.663);
  border-radius: 15px;
  height: 80px;
  width: 140px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #eee;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
}

.gen h2{
  margin-right: 10px;
}

/* Detalle generos */

.acción{
  text-emphasis: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  background-color: rgb(26, 24, 24);
  border-radius: 15px;
}
.acción li{
  margin-left: 20px;
  margin-right: 20px;
}
.acción img{
  width: 250px;
  height: 150px;
  border-radius: 15px;
}
.acción img:hover {
  width: 270px;
  height: 170px;
}
.acción h3 {
  font-size: 15px;
}


/* Responsiveness */




@media(max-width:320px){
.menu i{
  position:relative;
  left: -5px;
}
.busquepadre{
  flex-direction: column;
  margin: none;
  justify-content: flex-start;
}
.columna{
  display: flex;
  justify-content: flex-start;
  position: relative;
  
}
.pelis{
  display: flex;
  flex-direction: column;
  
}
.pelis li{
  margin-left: 8px;
}

.series{
  display: flex;
  flex-direction: column;
}
.series li{
  margin-left: 8px;
}
h2{
  margin-left: 10px;
}

.menu{
  display: flex;
  flex-wrap: wrap;
}

.generos {
  flex-direction: column;
  background-image: url(./img/Generos/generos\ peliculas\ 2.jpg);
}
.conteiner_movie{
  background-image: url(./img/Home/topgun2.png);
  background-size: 55vh;
  display: flex;
  justify-content: flex-start;
  align-items:flex-end;
  position:relative;

}
.details{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: rgba(26, 24, 24, 0);
  margin: -10px;
}
.details p {
  margin-top: 50px;
}

.tpgn{
  display: none;
}

#letras {
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px;
  color: #eee ;
  }
.breaking_bad{
  display: none;
}
.conteiner_serie{
  background-image: url(./img/Home/breaking_badfondo.webp);
  background-size: 50vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
 position: relative;

}
.acción{
  padding: 0px;
}
.lista_columna{
  padding: 0px;
}
}
@media(max-width: 1024px){

.pelis{
  padding: 8px;
}

.series{
  padding: 8px;
}
.conteiner_movie div{
  position: relative;
  top: -60px;
}
}
@media(max-width:1300px){
  .last{
    display: none;
  }
  
  }
  
  @media(max-width:1000px){
  .menu i{
    position: relative;
    top: 24px;
    left: -50px;
    }
    .art{
      flex-direction: column;
    }
    .last2{
      display: none;
    }
    
  }







